img{
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-attachment: fixed;
  height: 650px;
  width: 1300px;
  position: absolute;
  bottom: 10px;
  top: 1px;




}
div{
  background-color: white;
  color: black;
  position: relative;
  left: 5px;
  top: 2px;
  float: right;
  margin: 0;
  text-align: center;
  height: 520px;
  width: 500px;
  z-index: 2;

}

p{
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  z-index: 3
}
